.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  pointer-events: none;
}

.noBorder {
  border: 0px;
  padding:0; 
  margin:0;
  border-collapse: collapse;
}

body .grid {
  line-height: 0;
}